@model Blog
@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}

<form method="post">
    <h1>@Model.Title silinsin mi? </h1>
    <button class="btn btn-primary">Delete</button>
</form>